/* google fonts: Roboto Slab, Roboto and Oleo Script */
/* roboto slab: 200, 300, 500, 700 */
/* roboto:  300, 500, 700, 300i, 500i, 700i */
/* oleo script: 400, 700 */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Roboto+Slab:wght@200;300;500;700&family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

.use-cases {
    font-family: 'Oleo Script', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

nav.navbar {
    background-color: rgba(6, 34, 6, 0.85);
    
}

.navbar-brand {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    letter-spacing: 2px;
}

#csModal .modal-dialog {
    margin: 20px;
    width: 100%;
}
#csModal .modal-dialog .modal-content {
    width: 95vw;
    height: fit-content;
}
.modal-content .modal-body {
    display: flex;
    justify-content: center;
}

.clickable {
    cursor: pointer;
}

.hero-area {
    background-image: url('../images/mountain_camp.jpg');
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    border-radius: 0;
    
}

.hero-area div {
    color: white;
    margin-top: 25vh;
}

#sub-top-title,
.section-title {
    font-family: 'Roboto Slab', serif;
}

#top-title {
    font-family: 'Oleo Script', cursive;
    font-size: 6em; 
}

#sub-top-title {
    position: relative;
    font-weight: 300;
    font-size: 1.8rem;
    margin-left: 10px;
    line-height: 1.75;
}

.section-title {
    font-weight: 700;
    text-align: center;
    font-size: 2.0rem;
}
.summary-area .section-title {
    margin-top: 60px;
}

h5.sub-title {
    margin-bottom: 24px;
}

.header h3.section-title {
    color: white;
}

.header {
    background-position: bottom;
    background-size: cover;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    margin: 60px 0;
}


.user-research-head {
    background-image: url('../images/from_tent_view.jpg');
}

.definition-head {
    background-image: url('../images/flower_field.jpg');
    background-position: center;
    background-attachment: scroll;
}

.ideation-head {
    background-image: url('../images/mountain_hiking.jpg');
}

.prototyping-head {
    background-image: url('../images/group_camp.jpg');
}

.testing-head {
    background-image: url('../images/lakeside_camp.jpg');
    background-attachment: scroll;
}

.conclusion-head {
    background-image: url('../images/night_solo_camp.jpg');
}

.footer {
    background-color:#022F03;
}


.row {
    width: 100%;
    padding: 60px 0 30px;
    align-items: center;
}

/* user insight and hypothesis cards area */
.card {
    height: 400px;
    padding: 0;
    background-color: transparent;
    border: none;
}

.rotation-plane {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2);
    border: 1px solid rgba(128, 128, 128, 0.301);
    border-radius: 4px;
}

.rotation-plane.flip {
    transform: rotateY(180deg);
}

.frontside, 
.backside  {
    position: absolute;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: white;
    border-radius: 4px;
}

.frontside.hideMe {
    visibility: hidden;
}

.backside {
    /* background-color: orange; */
    transform: rotateY(180deg);
}

.card-body {
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
}

.card-body .sub-title {
    margin-bottom: 0;
}

.frontside .card-body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    padding: auto 10px;

}

.backside .card-body {
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 2fr; */
}

.card-body .big-icon {
    width: 40%;
    margin: 20px auto;
}

.card-body .card-text {
    font-size: 0.85em;
}


.backside .card-sub-header {
    margin: 4px auto;
}

.backside ol {
    border-radius: 3px;
    padding-inline-start: 20px !important;
    padding: 6px 8px;
}
.motivator-list {
    background-color: rgba(0, 128, 0, 0.25);
}
.painpoint-list {
    background-color: rgba(255, 0, 0, 0.25);
}

.card-icon-area {
    width: 40%;
    position: absolute;
    text-align: center;
    bottom: 5px;
    right: 0;
}

.card-icon-area .icon {
    width: 18px;
}
.card-icon-area .icon-caption {
    font-size: 0.7em;
    margin: 0;
}

.user-hypothesis .backside .card-top-image {
    position: relative;
    height: 130px;
    background-image: url('../images/lake_meadow.jpg');
    background-size: cover;
    background-position: center;
}


/* problem statement zone */
.title-roll {
    /* background-image: url('../images/stars_camp.jpg');
    background-size: cover;
    background-position: bottom;
    height: 500px; */
    padding: 0;
    overflow: hidden;
    position: relative;
}

.title-roll img.background-campstars {
    width: 100%;
    position: relative;
    z-index: 0;
}


.title-roll img.foreground-campstars {
    width: 100%;
    position: absolute;
    z-index: 900;
    left: 0;
    bottom: 0;
}

.title-roll .text-board {
    position: absolute;
    transform: perspective(260px) rotateX(40deg);
    transform-origin: 50% 100%;
    bottom: 0;
    font-size: 2.1em;
    text-align: justify;
    height: 24rem;
}

.text-board:after {
    position: absolute;
    content: ' ';
    top: 0;
    bottom: 30%;
}

.title-roll p {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    color: white;
    font-weight: 700;
    animation: scrolltext 77s linear 2s infinite;
    margin-top: 20%;
}

@keyframes scrolltext {
    from {
        margin-top: 20%; 
    }
    to {
        margin-top: -190%;
    }
}

.value-prop-statement {
    /* margin: 0 auto; */
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.value-prop-statement p {
    margin: 0;
}
.value-prop-statement p.tagline {
    font-family: 'Roboto Slab', serif;
    font-size: 1.4rem;
}



/* prioritiation area */

.prioritization-result {
    position: relative;
}



.prioritization-result .overlay {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;;
    /* display: flex; */
    /* justify-content: flex-end; */
    /* align-items: center; */
    overflow: hidden;
}

.prioritization-result .overlay p {
    width: 80%;
    color: white;
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
    position: absolute;
    right: 80px;
    top: 20%;
    white-space: nowrap;
    overflow: hidden;
}

.taggables-tile .overlay p br.lg,
.taggables-tile .overlay p br.xs {
    display: none;
}

.slider-handle {
    position: absolute;
    z-index: 15;
    width: 24px;
    height: 30px;
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.2);
    justify-content: center;
    display: flex;
}

.taggables-tile {
    position: relative;
    overflow: hidden;
}

.taggables-tile img.tile-img-bkg {
    width: 100%;
}


/* storyboard */
.storyboard {
    width: 100%;
}
.carousel {
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: black;
    width: 100%;
}
.board-container {
    /* border: 2px solid red; */
    background-color: black;
    /* padding: 15px auto; */

}

img.board {
    max-width: 300px;
    width: 75%;
}
.board-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    width: 75%;
    height: 120px;
    background-color: white;
    color: rgb(78, 78, 78);
    margin: 0 auto;
    /* border-bottom: 1px solid gray; */
    /* border-right: 1px solid gray; */
}

.board-caption p {
    width: 87%;
    margin: 0 auto;
}

span.carousel-control-prev-icon {
    margin-left: 50%;
    /* background-color: black; */
}

span.carousel-control-next-icon {
    margin-right: 50%;
    /* background-color: black; */
}

ol.carousel-indicators {
    margin-bottom: 5px;
}

.carousel-item {
    /* position: relative; */
    /* display: flex;
    justify-content: center; */
}

/* useflow area */
.userflow-tabs img {
    width: 100%;
}

.user-flow .nav-pills .nav-link {
    padding: 3px 22px;
}
.nav-pills * {
    color: #84a080;
}
.nav-pills .nav-item .nav-link.active {
    background-color: #84a080;
    border-radius: 2px;
}
.nav-pills .nav-item .nav-link:hover{
    color: #556653;
}

/* wireframe zone */
.wireframes {
    position: relative;
    z-index: 0;
}

.wireframes .sub-section-info {
    position: absolute;
    top: 80px;
    z-index: 10;
}

/* iteration sliders */
.iteration-captions {
    color: white;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 10px;
}

/* final prototype zone */
.final-prototype .nav-pills .nav-link {
    padding: 5px 18px;
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
    margin: 8px auto;
}

#openPrototype,
#openPrototypeMobile button{
    border-color: #84a080;
    color: #84a080;
    border-radius: 4px;
    padding: 5px 18px;
}

#openPrototypeMobile {
    display: none;
}

.prototype-demo-viewer img{
    width: 75%;
}

/* conclusion area */

/* footer */
.footer {
    margin-top: 40px;
    color: white;
}

.footer .sub-title {
    margin-bottom: 10px;
}


.footer-content .author-info {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding-top: 15px;
}

.footer-content .author img {
    width: 60px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.footer-content .author-detail {
    margin-left: 10px;
}

.footer-content .resource {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: white;
}

.footer-content .resource .icon {
    width: 50px;
    margin-right: 24px;
}
.footer-content .resource .icon img {
    width: 100%;
}
.footer-content .github .icon img {
    padding: 8px;
}

.footer .footer-copyright {
    padding-bottom: 5px;
    text-align: center;
    font-size: 0.7rem;
    margin-bottom: 0;
}



/* =================================== */
/* ===== screen size adjustments ===== */
/* =================================== */
/* Tiny devices (landscape phones, 556px and under) */
@media (max-width: 575px) {
    body {
        font-size: 13px;
    }
    #csModal {
        display: none;
    }
    .hero-area {
        height: 50vh;
    }
    .hero-area .container {
        transform: translateY(-40%);
    }
    #top-title {
        font-size: 3.3em;
    }
    #sub-top-title {
        font-size: 1rem;
        margin-left: 3px;
        line-height: 1.55;
    }
    #sub-top-title br {
        display: none;
    }
    .summary-area .section-title {
        margin-top: 30px;
        font-size: 1.6rem;
    }
    .header {
        height: 180px;
        margin: 20px 0;
        background-attachment: scroll;
    }
    .testing-head {
        background-position: center;
    }
    .ideation-head {
        background-position: center;
    }


    .sub-section-info {
        margin-top: 20px;
    }

    .card {
        margin-bottom: 15px;
    }

    .prioritization-result {
        margin: 0;
        padding: 0;
    }

    .taggables-tile {
        height: 150px;
        overflow: hidden;
    }

    .tile-img-bkg {
        height: 100%;
        object-fit: cover;
        /* width: 100%; */
    }

    .taggables-tile .overlay p {
        font-size: 1.0em;
        top: 25%;
        right:50px;
        padding-right: 0;
        /* color: green; */
        overflow: hidden;
    }

    /* same breakpoint as large screen */
    .taggables-tile .overlay p br.md,
    .taggables-tile .overlay p br.lg {
        display: none; 
    }
    .taggables-tile .overlay p br.xs {
        display: block; 
    }


    .storyboard img.board,
    .board-caption {
        width: 80%;
    }
    .wireframes .sub-section-info {
        position: relative;
        top: 0px;
    }

    .iterations .ba-board {
        width: 80%;
    }

    #openPrototype {
        display: none;
    }

    #openPrototypeMobile {
        display: block;
        margin: 0 auto 30px;
        width: fit-content;
        background-color: white;

    }
    .title-roll .text-board {
        font-weight: 2.2em;
        height: 18rem;
    }
    
}
/* Small devices (landscape phones, 576px - 767px) */

@media (min-width: 576px) and (max-width: 767px) {
    body {
        font-size: 13px;
    }
    
    .hero-area {
        height: 70vh;
    }
    .hero-area .container {
        transform: translateY(-30%);
    }
    #top-title {
        font-size: 3.8rem;
    }
    #sub-top-title {
        font-size: 1.3rem;
        margin-left: 3px;
        line-height: 1.55;
    }

    .summary-area .section-title {
        margin-top: 40px;
        font-size: 1.8rem;
    }

    .header {
        height: 320px;
        margin: 20px 0;
        background-attachment: scroll;
    }
    
    .testing-head {
        background-position: center;
    }

    .prioritization-result {
        margin: 10px 0 0 0;
        padding: 0;
    }

    .taggables-tile {
        height: 170px;
    }

    .tile-img-bkg {
        height: 100%;
        object-fit: cover;
    }

    .taggables-tile .overlay p {
        font-size: 1.2em;
        top: 22%;
        right: 50px;
        /* color: pink; */
    }

    .taggables-tile .overlay p br.lg,
    .taggables-tile .overlay p br.xs {
        display: none;
    }

    .wireframes .sub-section-info {
        /* position: relative; */
        top: 0px;
    }

    .conclusion .row {
        align-items: flex-start;
    }

    .title-roll .text-board {
        font-size: 1.5em;
        height: 12rem;
    }
    
    

}

/* Medium devices (tablets, 768px - 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    .header {
        height: 400px;
        margin: 40px 0;
    }
    .taggables-tile .overlay p {
        font-size: 1.4em;
    }
    .conclusion .row {
        align-items: flex-start;
    }

    .title-roll .text-board {
        font-size: 1.8em;
        height: 18rem;
    }

    .prioritization-result .overlay p {
        top: 20%;
        right: 55px;
        /* color: red; */
    }

    .taggables-tile .overlay br.lg,
    .taggables-tile .overlay br.xs {
        display: none;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .prioritization-result .overlay p {
        top: 22%;
        /* color: purple; */
    }

    .taggables-tile .overlay p br.lg {
        display: block;
    }
    .taggables-tile .overlay p br.md,
    .taggables-tile .overlay p br.xs {
        display: none;
    }

}